body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    max-width: 1920px;
    height:70px;
    background-color: #353948;
    
}
.container{ 
    padding-left: 250px;
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
 

}
.container2{ 
    height: 120px;
    padding-left: 250px;
    max-width: 1420px;
    display: flex;
}
.container3{ 
    padding-left: 250px;
    max-width: 1420px;  
    position: relative;
}
.container4{
    max-width: 1920px;
    max-height:800px;
}
.numbers{
    display: flex;
}
.call{
    padding-top: 10px;
}
.header_text{
    margin: 0;
    padding-top: 10px;
    font-size: 25px;
    color: #9FA2AE;
    font-weight: 300;
}
.number{
    padding-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    color: #9FA2AE;
    font-weight: 300;  
}
.text{
    display: flex;
}
.name__organizations{
 margin-top: 10px;
}
.name__organizations2{
    margin-top: 10px;
}
.time{
    margin-top: 10px;
    margin-left: 400px;
    width: 100px;
    height: 100px;
    position: relative;
}

.banner__text{
    margin: 0;
}
.banner__text2{
    margin: 0;
    color: #2375C3;
}
.banner__text4{
    margin: 0;
}
.banner__text5{
    margin: 0;
}
.banner__text3{
    margin: 0;
    font-size: 12px;
    font-weight: 400;    
}
.nav__box{
    border: 1px solid #E0E0E0;
    max-width: 1920px;
    height: 60px;
    background-color: #F3F3F3;
}
.nav__block{
    border: 1px solid #E0E0E0;
    border-top: none;
    border-bottom: none;
    border-radius: 6px;
    width: 125px;
    height: 60px;
    text-align: center;
    line-height:60px;
}
.search{
    display: inline-block;
    margin: 10px 0 0 80px;
    width: 400px;
    height: 40px;
    border: 1px solid #E0E0E0 ;
}
.Icon__search{
    padding-top: 8px;
    max-width: 50px;
    height: 50px;
}
.fon__banner{
    max-width: 1920px;
    position: absolute;
}
.banner__block{
display: flex;
justify-content: center;
padding-top: 430px;

}
.banner__box{
    margin-left: 10px;
    width: 500px;
    height: 150px;
    background-color: #2375C3;
    display: flex;
}
.banner__image{
    margin-left:60px;
    margin-top:30px;
}
.banner_text{
    margin-top:30px;
    color:  white;
    text-align: left;
    width: 210px;
    font-weight: 600;
}
.banner_text2{
    margin-top:30px;
    text-align: left;
    width: 210px;
    color:  rgb(58, 57, 57);
    font-weight: 600;
}
.banner__box2{
    margin-left: 10px;
    width: 400px;
    height: 150px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
.fon{
    margin-top: -60px;
}
.services{
margin-top: -650px;
text-align: center;
font-size: 48px;
font-weight: 900;
}
.Slider{
    display: flex;
    max-width: 1920px;
    height: 400px;
    position: relative;
}
.Slider__block{
    width: 300px;
    height: 400px;
    background-color: white;
}